<ScrollView>
    <GridLayout rows="*, auto">
        <img:Img xmlns:img="nativescript-image" 
                            placeholderImageUri="res://ns_logo"
                            verticalAlignment="top"
                            width="75%"
                            aspectRatio="0.754"
                            progressiveRenderingEnabled="true"
                            showProgressBar="true"
                            progressBarColor="#3C5AFD"
                            src="http://pooyak.com/p/progjpeg/jpegload.cgi?o=1"
                            finalImageSet="onFinalImageSet"
                            intermediateImageSet="onIntermediateImageSet"
                            intermediateImageFailed="onIntermediateImageFailed"
                            submit="onSubmit"
                            release="onRelease" 
                            failure="onFailure" />
        <Label id="outputLabel" text="output: " row="1" textWrap="true"/>
    </GridLayout>
</ScrollView>
